@import url(../content/content.css);
@import url(../footer/footer.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

.dis_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 43px 50px;
  background: #191919;
  max-width: 100%;
}
.dis_nav ul {
  display: flex;
  gap: 40px;
}
.dis_nav ul a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}
.dis_nav ul .home {
  color: #118DA8;
}
.dis_nav .spn {
  display: none;
}

nav .header {
  max-width: 100%;
  height: 1000px;
  background: #191919;
  display: flex;
  padding: 40px 55px;
  gap: 60px;
}
nav .header .hdr__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .header .titl__h6 {
  color: #FFF;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 3.2px;
  margin-top: 100px;
}
nav .header .titl__h6 span {
  color: #FFF;
  font-family: DM Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 3.2px;
}
nav .header .listen {
  margin-top: 40px;
}
nav .header .title__p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 15px;
}
nav .header .imgs {
  display: flex;
  gap: 25px;
}

@media (max-width: 447px) {
  nav .dis_nav {
    padding: 30px;
  }
  nav .dis_nav .dis-img {
    width: 130px;
  }
  nav .dis_nav ul {
    display: none;
  }
  nav .dis_nav .spn {
    display: block;
    color: #fff;
  }
  nav .header {
    flex-direction: column;
    gap: 10px;
  }
  nav .header .hdr__left .titl__h6 {
    font-size: 35px;
  }
  nav .header .hdr__left .titl__h6 span {
    font-size: 35px;
  }
  nav .header .listen {
    margin-top: 50px;
  }
  nav .header .listen .imgs {
    gap: 15px;
  }
}
@media (min-width: 448px) and (max-width: 769px) {
  nav .dis_nav img {
    width: 240px;
  }
  nav .dis_nav ul {
    display: none;
  }
  nav .dis_nav .spn {
    display: block;
    color: #fff;
    font-size: 40px;
  }
  nav .header {
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    background: #191919;
    display: flex;
    padding: 35px 50px;
    gap: 60px;
  }
  nav .header .hdr__left .titl__h6 {
    font-size: 50px;
    margin-top: 10px;
  }
  nav .header .hdr__left .titl__h6 span {
    font-size: 50px;
  }
  nav .header .hdr__left .listen .title__p {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  nav .dis_nav {
    padding: 33px 44px;
  }
  nav .dis_nav .dis-img {
    width: 220px;
    height: 120px;
  }
  nav .dis_nav ul {
    gap: 25px;
  }
  nav .dis_nav ul li a {
    font-size: 22px;
  }
  nav .dis_nav .spn {
    display: none;
  }
  nav .header {
    height: 800px;
  }
  nav .header .kooy {
    width: 400px;
    height: 700px;
  }
  nav .header .hdr__left {
    margin-bottom: 100px;
  }
  nav .header .hdr__left .titl__h6 {
    font-size: 50px;
    line-height: 78px;
  }
  nav .header .hdr__left .titl__h6 span {
    font-size: 79px;
  }
  nav .header .hdr__left .listen .title__p {
    font-size: 20px;
  }
  nav .header .hdr__left .imgs {
    gap: 17px;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  nav .dis_nav .dis-img {
    width: 250px;
    height: 60px;
  }
  nav .dis_nav ul {
    gap: 50px;
  }
  nav .dis_nav ul li a {
    font-size: 24px;
  }
  nav .dis_nav ul .spn {
    display: none;
  }
  nav .header {
    height: 800px;
  }
  nav .header .kooy {
    width: 550px;
    height: 700px;
  }
  nav .header .hdr__left {
    margin-bottom: 130px;
  }
  nav .header .hdr__left .titl__h6 {
    font-size: 70px;
  }
  nav .header .hdr__left .listen .title__p {
    font-size: 30px;
  }
  nav .header .hdr__left .listen .imgs {
    gap: 35px;
  }
}
@media (min-width: 1200px) {
  nav .dis_nav .dis-img {
    width: 350px;
    height: 60px;
  }
  nav .dis_nav ul li a {
    font-size: 25px;
  }
  nav .header .hdr__left .listen {
    margin-top: 150px;
  }
  nav .header .hdr__left .listen .title__p {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */